<h1>Home</h1>
<p>Hello, this is the home page. Check out the movies directory using the link below, which contains of list of movies. Information associates with movies includes title, director, an optional rating, and whether or not it won any awards.</p>
<%= link_to 'Movies Directory', movies_path %>

